@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container{
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
.border{
  border-right: solid 1px rgb(185,192,198);
}
.text-color{
  color: rgb(32, 33, 36)
}
.text-blue{
  color:rgb(0, 96, 150);
}
.back.gris{
  background-color: rgb(243, 244, 241);
}
.back-color{
  background-color: rgb(0, 96, 150);
}
.background-oscuro{
  background-color: rgb(24,30,37);
}
.background-claro{
  background-color: rgb(30,39,49);
}
.opacity {
  background: rgba(30,39,49, 0.8);
}

